/* ! подключаем шрифты */
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("Gilroy-Regular.woff2") format("woff2"), url("Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
	color: #000;
	background-color: #fff;
	/* padding: 30px; */
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}
/* ------------------ */
body {
	background: #111428;
	font-family: Gilroy, serif;
	margin: 0px auto;
	/* max-width:1200px; */
		
}

.header {
	
}

.header__container {
	background-color: #111428; 
	width: 100%;
	max-height: 100px;
	margin: 0px auto 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
}

 .header__logo {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	max-width: 300px;

	position: absolute;
	top: 35px;
	left: 15px;
}
.header__menu {
}
.header__list {
	font-size: 0;
	position: absolute;
	top: 38px;
	left: 278px;
}

.header__list > li {
	position: relative;
	display: inline-block;
	margin: 0px 30px 0px 0px;
	
}

.header__list > li::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	padding: 0px 15px 0px 0px;
	background: url("../img/check.png") 3px 0px / 12px 12px no-repeat;
}


.header__list > li:last-child {
	margin-right: 0; 
}

.header__list > li:hover .header__list-film {
	display: block;
}

.header__list > li:hover .header__list-clip {
	display: block;
}

.header__list > li:hover .header__list-music {
	display: block;
}

.header__link {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
}
.header__list-film {
	min-width: 170px;
	max-height: 332px;
	background-color: #337ab7;
	border-radius: 5px;
	overflow: auto;
	padding: 15px 20px 18px 20px;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
}
.header__list-film > li {
	margin: 0px 0px 9px 0px;
}

.header__list-film > li:last-child {
	margin-bottom: 0;
}

.header__link-film {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.header__list-clip {
	min-width: 170px;
	max-height: 332px;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 15px 20px 18px 20px;
	position: absolute;
	left: 0px;
	top: 100%;
	display: none;
}

.header__list-clip > li {
	position: relative;
	margin: 0px 0px 9px 0px;
	padding: 0px 20px; 
}

.header__list-clip > li:hover .header__list-clip-genre {
	display: block;
}

.header__list-clip > li:hover .header__list-clip-year {
	display: block;
}

.header__list-clip > li:last-child {
	margin-bottom: 0;
}

.header__link-clip {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.header__list-clip-genre {
	min-width: 170px;
	max-height: 332px;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 15px 0px 18px 20px;
	position: absolute;
	display: none;
	left: 100%;
	top: 0px;
}
.header__list-clip-genre > li {
	margin: 0px 0px 9px 0px;
}

.header__link-clip-genre {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.header__list-clip-year {
	min-width: 70px;
	max-height: 332px;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 15px 0px 18px 20px;
	position: absolute;
	display: none;
	right: 100%;
	top: 0;
}

.header__list-clip-year > li {
	margin: 0px 0px 9px 0px;
}

.header__link-clip-year {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.header__list-music {
	min-width: 170px;
	max-height: 332px;
	background-color: #337ab7;
	border-radius: 5px;
	overflow: auto;
	padding: 15px 20px 18px 20px;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
}
.header__list-music > li {
	margin: 0px 0px 9px 0px;
}

.header__link-music {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
/* окно поиска */
.header__input {
	width: 574px;
	height: 41px;
	position: absolute;
	left: 590px;
	top: 29px; 
	font-size: 16px;
	font-weight: 500;
	border: 1px solid #a3a3a3;
	box-sizing: border-box;
	border-radius: 5px;
	background: url("../img/search.png") 532px 50% no-repeat;
}

.header__like-link {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/izh3.png") 50% / 20px no-repeat;
	position: absolute;
	left: 1185px;
	top: 41px;
}

.header__round {
	display: inline-block;
	width: 28px;
	height: 28px; 
	background: url("../img/Ellipse1.png") 0 0 / 28px no-repeat;
	position: absolute;
	left: 1220px;
	top: 36px;
}

 .header__check { 
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url("../img/check.png") 0 0 / 12px no-repeat;
	position: relative;
	left: 1250px;
	top: 45px;
}

/* черная разделительная полоса  */

.header__black-line {
	height: 3px;
	width:100%;
	
	 background-color: rgba(0, 0, 0, 0.3); 
	 margin: 80px 0px 20px 0px; 
}

/* !form */

._container {
	margin: 0px auto;
	/* max-width: 1200px; */
	width: 100%;
	background-color: #111428;
}

.registration-page__container {
	margin: 0px 0px 120px 0px; 
}

._login-link {
	margin: 0px 0px 128px 52px;
}

.link-input {
	color: #a3a3a3;
	font-family: "Gilroy", serif;
	font-weight: 500;
	font-size: 14px;
}

._title {
	color: #fff;
	font-family: "Gilroy", serif;
	font-weight: 700;
	font-size: 38px;
	margin: 0px 0px 41px 544px;
}

._text-500 {
	font-family: "Gilroy", serif;
	font-weight: 500;
	font-size: 18px;
}

._input {
	margin: 0px 0px 30px 468px;
	width: 384px;
	height: 50px;
	border-radius: 5px;
	font-family: "Gilroy", serif;
	font-weight: 400;
	font-size: 18px;
	color: #777777;
	padding: 20px;
}

.form__input-confirmpassword {
	margin-bottom: 18px;
}
.option {
	color: #fff;
}

.option__man {
	display: inline-block;
	margin: 0px 50px 31px 470px;
	position: relative;
}
.option__woman {
	position: relative;
	display: inline-block;
}
.option__label {
	cursor: pointer;
	display: inline-block;
	padding: 0px 0px 0px 30px;
}

.option__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.option__input:checked + .option__label::after {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: blue;
	position: absolute;
	top: 4px;
	left: 4px;
	content: "";
}

.option__input {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.checkbox {
	margin: 0px 0px 30px 0px;
}
.checkbox__agre,
.checkbox__remember {
	position: relative;
	display: inline-block;
	color: #fff;
	margin: 0px 10px 0px 470px;
}
.checkbox__input {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.checkbox__label {
	cursor: pointer;
	display: inline-block;
	padding: 0px 0px 0px 30px;
}

.checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.checkbox__input:checked + .checkbox__label::after {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: blue;
	position: absolute;
	top: 4px;
	left: 4px;
	content: "";
}

.checkbox__link {
	display: inline-block;
}

.link-checkbox {
	color: #64b369;
}

.form__button {
	width: 384px;
	height: 50px;
	border-radius: 5px;
	background: #337ab7;
	color: #fff;
	font-family: "Gilroy", serif;
	font-weight: 700;
	font-size: 24px;
	margin: 0px 0px 30px 470px;
}

.registration-page__account {
}
.registration-page__question {
	color: #fff;
	margin: 0px 10px 60px 545px;
	display: inline-block;
}
.input-account {
	color: #64b369;
	display: inline-block;
}

._line-white {
	background-color: #fff;
	width: 1200px;
	height: 1px;
	margin: 0px 0px 66px 52px;
}

/* страница Вход */

.input-page__title {
	margin-left: 617px;
}

.input-page__log{
	color: #fff;
	margin: 0px 0px 20px 605px; 
}

.input-page__messenger {
	margin: 0px 0px 30px 0px;
}

.icon__messenger {
	width: 40px; 
	height: 40px; 
	margin: 0px 40px 0px 0px;

}
.icons-vk {
	margin: 0px 0px 0px 560px;
}


.input-page__question {
	display: inline-block;
	margin: 0px 10px 60px 515px;
	color: #fff;
}
.check-in {
	display: inline-block;
	color: #64B369;
}

/* востановления пароля */


.password-recovery__title {
	margin: 0px 0px 10px 440px;
}

.password-recovery__info{
	color: #64B369;
	margin: 0px 0px 41px 468px;
	font-size: 16px;
}

.form__link {
	margin: 0px 0px 30px 455px;
}

.link-login{
	display: inline-block;
	color: #fff;
	padding: 0px 0px 0px 10px;
}

.link-login::before{
	display: inline-block;
	content: '';
	width: 32px;
	height: 22px;
	background: url('../img/arrow-left.png') 0px 5px / 21px 21px no-repeat;
}

.button__form{
	margin-bottom: 22px;
}

.password-recovery__text{
	width: 311px;
	color: #AEAEAE;
	font-size: 16px;
	margin: 0px 0px 30px 468px;
}

.password-recovery__acount{
	margin: 0px 0px 60px 515px;
}

.password-recovery__question {
	display: inline-block;
	color: #fff;
	padding: 0px 10px 0px 0px;
}

.footer__join{
	color: #fff;
	margin: 0px 0px 20px 569px;
	font-size: 20px;
}

.icon__mes{
	width: 40px; 
	height: 40px; 
	margin: 0px 40px 0px 0px;
}

.footer__messenger{
	margin: 0px 0px 100px 440px;
}
